@{
    ViewBag.Title = "Vidly";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is an internal application for video rentals system.</p>
    <p><a href="https://arcas-gabriel.cf" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Fully controlled mechanism of video rentals shop with validation.
        </p>
        <p><a class="btn btn-default" href="https://arcas-gabriel.cf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get own systems</h2>
        <p>Arcas Gabriel is a professional Web Developer that can customize your application.</p>
        <p><a class="btn btn-default" href="https://arcas-gabriel.cf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Trustly Web Hosting services are the key of success. We highly recommand Hostvision!</p> 
        <p><a class="btn btn-default" href="https://hostvision.ro/">Learn more &raquo;</a></p>
    </div>
</div>